#main{
    border: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 25px;
    margin: 100px;
    margin-left: 400px;
    margin-right: 400px;
    padding: 10px;
    margin-top: 600px;
    background-color: white;
    box-shadow: 2px 2px  rgb(210, 210, 212);
}

button{
   border-radius: 15px;
   padding: 8px 15px 8px 15px;
   margin-left: 10px;
   margin-right: 10px;
   border: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   font-style:oblique;
   box-shadow: 2px 2px 2px 2px rgb(210, 210, 212);
}

#red{
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#blue{
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#yellow{
    background-color: yellow;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#green{
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#orangered{
    background-color: orangered;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#black{
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#default{
    background-color: rosybrown;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

body{
    background-color: rosybrown;
}